*.pyc
__pycache__/*
/venv/
.eslintcache
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-01-05,_10_18 a_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-01-05,_10_18 a_m__[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-02,_11_25 a_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-04,_1_54 p_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-09,_1_42 p_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-01-05__10_18a_m___Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-02__11_25a_m___Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-04__1_54p_m___Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2024-01-09__1_42p_m___Changes_.xml
/.idea/cutsheet_stamp_tool_dev.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
start_app.sh
update_project.sh
.env