# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.venv/

# Ignore ESLint cache
.eslintcache/

# Ignore IDE-specific files and directories
.idea/

# Ignore shell scripts and environment files
start_app.sh
update_project.sh
.env