
.stamp-preview-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  background-color: white;
  position: relative;
  border-right: solid black 5px;
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

.preview-logo {
  position: absolute;
  top: 10px;
  right: 7px;
  height: 60px;
  width: auto;
}

.info-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(80px, max-content) auto;
  gap: 10px;
}

.info-grid p {
  display: contents; /* This will make the <p> tag's children align with the grid */
}

.info-grid .label {
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 1em;
  line-height: 0.95em;
  margin-left: px;
}

.info-grid .value {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: black;
  line-height: 0.95em;
}

.first-column {
  padding: 12px;
}

.type-title {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 1em;
  margin-left: 10px;
}

.type-value {
  display: block;
  font-size: 6.5em;
  font-weight: bold;
  margin-left: -10px;
  margin-top: -20px;
  color: black;
  margin-bottom: -22px;
  text-transform: none;
}

.disclaimer-div {
  position: absolute;
  right: 10px; /* Adjust as needed */
  bottom: 10px; /* Adjust as needed */
  margin: 0;
  z-index: 10;
  text-align: right;
}

.disclaimer-div-content {
  margin: 0;
}

.disclaimer-div p {
  margin: 0;
  font-size: 0.75em;
  color: #5d5d5d;
}

.preview-footer {
  margin: 0;
  padding: 2px 10px;
  color: white;
  flex-wrap: nowrap;
  background-color: black;
}

.preview-footer p {
  margin: 0;
  margin-bottom: 2px;
  font-size: 1em;
}

.preview-footer .value {
  font-weight: bold;
}

.stamp-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-bottom: 6px;
  padding-top: 4px;
}

.preview-footer p {
  text-transform: uppercase;
}

.footer-value {
  color: white;
  font-weight: 700;
}
