/***********  SHARED STYLING   *************/

.center-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-bottom: 100px;
}

.all-app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.content-div {
  background-color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  min-width: 900px;
}

.centered-logo {
  margin-top: 10px;
  max-width: 8%;
  height: auto;
}

.content-div h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 1.5em;
  font-size: 2em;
  font-weight: 700;
}

/*********  PROCESSING POPUP   **************/

.processing-page-div {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.processing-page-content {
  background-color: white;
  padding: 40px 60px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.loading-spinner {
  margin-top: 10px;
  width: 40px;
}

.large-pop-up-text {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.small-pop-up-text {
  font-size: 0.85em;
  color: #6c757d;
  margin-top: 10px;
}

.ellipsis > span {
  opacity: 0;
  animation: flash 1.5s infinite;
}

.ellipsis > span:nth-child(1) {
  animation-delay: 0s;
}

.ellipsis > span:nth-child(2) {
  animation-delay: 0.5s;
}

.ellipsis > span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/********* BANNER **********/

.banner-main-div {
  width: 100%;
  position: fixed;
  top: -100px; /* Start above the viewport */
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  animation: slideDownFadeIn 0.5s forwards; /* Animation to slide down and fade in */
  opacity: 0; /* Start with the banner invisible */
}

.banner-inner-div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

@keyframes slideDownFadeIn {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

p {
  margin: 0;
  color: inherit; /* Make sure the paragraph text color is the same as the banner */
}

.banner-main-div a {
  font-weight: bold; /* Make the link text bold */
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Keep the link color the same as the text */
}

/*******  FORM STYLING   **********/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 900px;
}

.form-content {
  width: 70%;
  margin: 0 auto;
}

.box-folder-selector-container,
.gradient-selector-container,
.dropdown-container,
.revision-number-container,
.revision-selector-container,
.date-format-selector-container,
.date-selector-container,
.selector-container,
.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr; /* Fixed width for labels */
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label,
.input-label {
  text-align: right;
  padding-right: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.helper-text {
  grid-column: 2;
  margin-top: 0;
  font-size: 0.75em;
  color: #6c757d;
  overflow: display;
}

h2.form-section-title {
  border-top: 1px solid rgb(155, 155, 155);
  padding-top: 8px;
  margin-top: 30px;
  text-align: left;
  width: 100%;
  font-size: 0.8em;
  color: rgb(155, 155, 155);
  text-transform: uppercase;
}

/**************  PREPARED BY  ******************/

.selector-container {
  display: flex;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
}

.button-group-company {
  display: flex;
  gap: 33px;
}

.button-group button {
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  min-width: 90px;
  padding: 10px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

.company-logo {
  height: 35px;
  width: auto;
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 1 !important; /* Full opacity for selected button */
}

/**********************   TEXT INPUT  ******************/

.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
}

.text-input-container input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-family: "Karla", sans-serif;
  border-radius: 4px;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-input-container input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/********  PACKAGE  *********/

.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
  grid-row: 1 / 3; /* Spanning two rows */
}

.button-group-package {
  display: flex;
  grid-row: 1; /* Aligning with the first row */
}

.button-group-package button {
  padding: 8px 12px;
  margin-right: 20px;
  border: 1px solid #ccc;
  font-family: "Karla", sans-serif;
  border-radius: 4px;
  font-size: 1em;
  width: 90px;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-group-package button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.button-group-package button:last-child {
  margin-right: 0;
}

.helper-text-package {
  grid-column: 2; /* Aligning with the second column */
  font-size: 0.8em;
  color: #6c757d;
  margin-top: 18px;
  line-height: 0; /* Adjust as needed */
}

.selector-label-input-package {
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.helper-text-package-div {
  grid-column: 2; /* Aligning with the second column */
  grid-row: 1; /* Aligning with the first row */
  align-self: center; /* Vertically centering within the grid area */
}

/************ DISCLAIMER ************/

.disclaimer-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.disclaimer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.disclaimer-options label {
  display: flex;
  align-items: center;
}

.input-label {
  text-align: right;
  padding-right: 10px;
}

.disclaimer-options input[type="checkbox"] {
  margin-right: 10px;
}

.disclaimer-options input[type="checkbox"] {
  margin-right: 10px;
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  cursor: pointer; /* Optional: Changes cursor to a pointer when hovering over the checkbox */
}

.checkbox-options {
  margin: 0;
  line-height: 0.5em;
}

/************ DATE SELECTOR ************/

.date-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-label {
  text-align: right;
  padding-right: 10px;
}

.date-selector-container .date-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
}
.input-label {
  text-align: right;
  padding-right: 10px;
}

.text-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-input:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Date selector */
.date-selector-container {
  margin-bottom: 20px;
}

.date-selector-container .date-input {
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.date-selector-container .date-input:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Revision selector */
.revision-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.revision-selector-container .button-group {
  display: flex;
  gap: 10px;
  width: 80px;
}

.revision-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
  width: 50px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.revision-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Revision number selector */
.revision-number-container {
  display: grid;
  grid-template-columns: 250px auto; /* Adjusted for label and input width */
  align-items: center;
  gap: 10px;
}

.revision-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -15px;
}

.revision-number-container .text-input {
  width: 85%;
}

/* Date format selector */
.date-format-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date-format-selector-container .button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.date-format-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 22px;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.date-format-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Gradient selector */
.gradient-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.gradient-selector-container .button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.gradient-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gradient-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Box folder input */
.box-folder-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.box-folder-selector-container .helper-text {
  grid-column: 2;
  margin-top: 0;
  font-size: 0.8em;
  color: #6c757d;
}

/* Submit stamp div */
.stamp-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.submit-button {
  background-color: #007bff; /* Modern blue */
  color: white;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  font-weight: 700;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.submit-button:disabled {
  background-color: #cccccc;
  color: #878787;
  cursor: not-allowed;
  box-shadow: none;
}

.helper-text-submit {
  margin-top: 10px;
  font-size: 0.8em; /* Smaller font size for helper text */
  color: #666; /* A neutral color for the text */
  text-align: center; /* Center the text */
}

.stamp-icon {
  width: 20px;
  margin-right: 10px;
  margin-bottom: -3px;
}

/* Confirm pop-up */
.confirm-pop-up {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the pop-up content */
  z-index: 1000; /* Ensure it's above other content */
}

.confirm-pop-up-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  text-align: center;
  width: 80%; /* Adjust width as needed */
  max-width: 650px; /* Maximum width */
}

.confirm-pop-up-content button {
  width: 40%; /* Each button takes up 50% of the width */
  padding: 10px 0;
  margin: 10px;
  border: none;
  background-color: #007bff; /* Blue background for one button */
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.confirm-pop-up-content button:nth-child(1) {
  background-color: #dc3545;
}

.confirm-pop-up-content button:hover {
  background-color: #0056b3;
}

.confirm-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  column-gap: 20px; /* Space between columns */
  row-gap: 10px; /* Space between rows */
  margin-bottom: 20px;
  text-align: left;
  margin: 20px;
}

.confirm-details p {
  line-height: 1em;
  margin: 0;
  margin-top: 5px;
}

.confirm-details .value {
  font-weight: bold;
}

/* Footer */
.footer-div {
  margin-top: 20px;
  width: 100vw; /* Full width */

  padding: 20px 0; /* Padding for top and bottom */
}

.footer-content {
  text-align: center; /* Center everything in the footer */
  max-width: 1200px; /* Max width of the content */
  margin: 0 auto; /* Center the content */
  display: flex;
  flex-direction: column;
}

.footer-logo {
  max-width: 40px; /* Smaller logo */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure it's a block element */
  margin: 0 auto; /* Center the logo */
}

.footer-text {
  margin-top: 10px; /* Space between logo and text */
  font-size: 0.7em;
}
