/***********  SHARED STYLING   *************/

.center-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-bottom: 100px;
}

@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.all-app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  animation: fadeInScaleUp 0.5s ease-out;
}

.content-div {
  background-color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  min-width: 900px;
}

.centered-logo {
  margin-top: 10px;
  max-width: 8%;
  height: auto;
}

.content-div h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 1.5em;
  font-size: 2em;
  font-weight: 700;
}

.optional-or-required-p {
  width: 100%;
  line-height: 1.5em;
  font-size: 0.65em;
  margin: 0;
  margin-top: -8px;
  margin-left: 3px !important;
  padding-right: 10px;
  color: rgb(124, 124, 124);
  /* text-align: right; */
}

.tiny-icon {
  width: 10px;
  margin-right: 10px;
  margin-bottom: -1px;
}

/* HELPER TEXT BLOCK */

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.helper-text-block {
  padding: 10px;
  padding-top: 15px;
  border: 1px solid #ddd; /* light grey border */
  background-color: #f9f9f9; /* light background */
  border-radius: 5px;
  margin-top: 10px;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  animation: fadeInSlideUp 0.6s ease-out;
}

.issue-alert {
  color: #d9534f; /* red color for alert */
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 0;
}

.success-helper-p {
  margin-bottom: 5px;
}

.issue-list {
  list-style-type: none; /* remove bullet points */
  padding: 0;
  margin-top: 8px;
}

.issue-list li {
  color: #555; /* darker text for readability */
  padding: 2px 0; /* slight padding for list items */
}

.info-helper-text {
  color: #17a2b8; /* A distinct, informational blue color */
  font-weight: normal;
  margin-top: 1px; /* Spacing above the text */
  font-size: 0.9em; /* Slightly smaller font size for subtlety */
  line-height: 1.4em; /* Line height for readability */
  text-align: left; /* Align text to the left for consistency */
  padding: 5px; /* Padding for visual spacing */
  background-color: #eef9fb; /* Light background for emphasis */
  border-left: 3px solid #17a2b8; /* Left border for a touch of style */
  border-radius: 3px; /* Slight rounding of corners */
}

/*********  PROCESSING POPUP   **************/

.processing-page-div {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.processing-page-content {
  background-color: white;
  padding: 40px 60px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.loading-spinner {
  margin-top: 10px;
  width: 40px;
}

.large-pop-up-text {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.small-pop-up-text {
  font-size: 0.85em;
  color: #6c757d;
  margin-top: 10px;
}

.ellipsis > span {
  opacity: 0;
  animation: flash 1.5s infinite;
}

.ellipsis > span:nth-child(1) {
  animation-delay: 0s;
}

.ellipsis > span:nth-child(2) {
  animation-delay: 0.5s;
}

.ellipsis > span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/********* BANNER **********/

.banner-main-div {
  width: 100%;
  position: fixed;
  top: -100px; /* Start above the viewport */
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  animation: slideDownFadeIn 0.5s forwards; /* Animation to slide down and fade in */
  opacity: 0; /* Start with the banner invisible */
}

.banner-inner-div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

@keyframes slideDownFadeIn {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

p {
  margin: 0;
  color: inherit;
}

.banner-main-div a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/*******  FORM STYLING   **********/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 900px;
}

.form-content {
  width: 70%;
  margin: 0 auto;
}

.box-folder-selector-container,
.gradient-selector-container,
.dropdown-container,
.revision-number-container,
.revision-selector-container,
.date-format-selector-container,
.date-selector-container,
.selector-container,
.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr; /* Fixed width for labels */
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label,
.input-label {
  text-align: right;
  padding-right: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.box-helper-text {
  grid-column: 2;
  margin-top: 0;
  font-size: 0.78em;
  color: #6c757d;
  /* overflow: visible;
  white-space: nowrap; */
  /* text-overflow: clip; */
}

.helper-text-block {
  line-height: 1.5em;
}

h2.form-section-title {
  border-top: 1px solid rgb(155, 155, 155);
  padding-top: 8px;
  margin-top: 30px;
  text-align: left;
  width: 100%;
  font-size: 0.8em;
  color: rgb(155, 155, 155);
  text-transform: uppercase;
}

/**************  PREPARED BY  ******************/

.selector-container {
  display: flex;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
}

.button-group-company {
  display: flex;
  gap: 33px;
}

.button-group button {
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  min-width: 90px;
  padding: 10px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

.company-logo {
  height: 35px;
  width: auto;
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 1 !important; /* Full opacity for selected button */
}

/**********************   TEXT INPUT  ******************/

.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
}

.text-input-container input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-family: "Karla", sans-serif;
  border-radius: 4px;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-input-container input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/********  PACKAGE  *********/

.text-input-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-label {
  text-align: right;
  padding-right: 10px;
  grid-row: 1 / 3; /* Spanning two rows */
}

.button-group-package {
  display: flex;
  grid-row: 1; /* Aligning with the first row */
}

.button-group-package button {
  padding: 8px 12px;
  margin-right: 20px;
  border: 1px solid #ccc;
  font-family: "Karla", sans-serif;
  border-radius: 4px;
  font-size: 1em;
  width: 90px;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-group-package button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.button-group-package button:last-child {
  margin-right: 0;
}

.helper-text-package {
  grid-column: 2; /* Aligning with the second column */
  font-size: 0.8em;
  color: #6c757d;
  margin-top: 18px;
  line-height: 0; /* Adjust as needed */
}

.selector-label-input-package {
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.helper-text-package-div {
  grid-column: 2; /* Aligning with the second column */
  grid-row: 1; /* Aligning with the first row */
  align-self: center; /* Vertically centering within the grid area */
}

/************ DISCLAIMER ************/

.disclaimer-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.disclaimer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.disclaimer-options label {
  display: flex;
  align-items: center;
}

.input-label {
  text-align: right;
  padding-right: 10px;
}

.disclaimer-options input[type="checkbox"] {
  margin-right: 10px;
}

.disclaimer-options input[type="checkbox"] {
  margin-right: 10px;
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  cursor: pointer; /* Optional: Changes cursor to a pointer when hovering over the checkbox */
}

.checkbox-options {
  margin: 0;
  line-height: 0.5em;
}

/************ DATE SELECTOR ************/

.date-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-label {
  text-align: right;
  padding-right: 10px;
}

.date-selector-container .date-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
}
.input-label {
  text-align: right;
  padding-right: 10px;
}

.text-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-input:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Date selector */
.date-selector-container {
  margin-bottom: 20px;
}

.date-selector-container .date-input {
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.date-selector-container .date-input:focus {
  border-color: #007bff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Revision selector */
.revision-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.revision-selector-container .button-group {
  display: flex;
  gap: 10px;
  width: 80px;
}

.revision-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
  width: 50px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.revision-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Revision number selector */
.revision-number-container {
  display: grid;
  grid-template-columns: 250px auto; /* Adjusted for label and input width */
  align-items: center;
  gap: 10px;
}

.revision-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -15px;
}

.revision-number-container .text-input {
  width: 85%;
}

/* Date format selector */
.date-format-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date-format-selector-container .button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.date-format-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 22px;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.date-format-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Gradient selector */
.gradient-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.gradient-selector-container .button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.gradient-selector-container .button-group button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: all 0.3s ease;
  opacity: 0.7;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gradient-selector-container .button-group button.selected {
  background: #007bff;
  color: white;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Box folder input */
.box-folder-selector-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.box-folder-selector-container .helper-text {
  grid-column: 2;
  margin-top: 0;
  font-size: 0.8em;
  color: #6c757d;
}

/* Submit stamp div */
.stamp-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.submit-button {
  background-color: #007bff; /* Modern blue */
  color: white;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;

  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.submit-button:disabled {
  background-color: #cccccc;
  color: #878787;
  cursor: not-allowed;
  box-shadow: none;
}

.helper-text-submit {
  margin-top: 10px;
  font-size: 0.8em; /* Smaller font size for helper text */
  color: #666; /* A neutral color for the text */
  text-align: center; /* Center the text */
}

.stamp-icon {
  width: 20px;
  margin-right: 10px;
  margin-bottom: -3px;
}

/* Confirm pop-up */

.no-scroll {
  overflow: hidden;
}

.confirm-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button-big {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  z-index: -1;
}

@keyframes fadeInSlideDownScaleUp {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.confirm-popup-main-div {
  background: linear-gradient(
    145deg,
    #ffffff,
    #f6f6f6
  ); /* subtle gradient background */
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* deeper shadow for more depth */
  text-align: center;
  width: 550px; /* Slightly smaller width for better focus */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInSlideDownScaleUp 0.3s ease-out; /* smoother animation */
  transform-origin: bottom center; /* animation origin */
}

.confirm-popup-content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.confirm-popup-content h2 {
  font-size: 1.6em; /* larger font size for header */
  font-weight: 600; /* bolder font weight */
  color: #333; /* darker color for emphasis */
  margin-bottom: 20px;
}
.main-prompt {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.folder-path-text {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 20px;
}

.confirm-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 20px;
  text-align: left;
  background-color: #f2f2f2; /* lighter background for content grid */
  padding: 20px;
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for each detail section */
  align-self: center;
  margin-bottom: 25px;
  width: 450px;
}

.confirm-title {
  color: #007bff; /* blue color for titles */
  font-size: 0.85em;
  margin-bottom: 5px;
}

.listed-files-div {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure the children stretch to full width */
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 0px;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 458px;
  min-height: 280px;
  max-height: 280px;
  overflow-y: auto; /* Show scrollbar when needed */
  position: relative; /* For the sticky positioning of the title */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for each detail section */
}

.listed-files-div::after {
  content: "";
  position: sticky;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px; /* Adjust the height of the gradient */
  background: linear-gradient(
    to bottom,
    rgba(235, 235, 235, 0),
    rgba(235, 235, 235, 1) 100%
  );
  pointer-events: none; /* Ensure it doesn't interfere with scrolling */
}

.pdf-listed-files-title {
  position: sticky; /* Stick to the top */
  top: 0; /* Stick to the top edge */
  background-color: #ebebeb; /* Ensure a solid background */
  padding: 15px 0;
  border-bottom: 1px solid #ccc; /* Separator line */
  z-index: 20; /* Increase z-index to ensure it's above other content */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px; /* Adjust based on your layout */
  text-align: left;
}

.pdf-listed-files-title p {
  font-size: 0.85em;

  margin: 0; /* Remove default margin */
  padding: 0 10px 0 2px; /* Padding on left and right */
}

.pdf-listed-files {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
  text-align: left;
  padding-top: 3px; /* Space below the title */
}

.pdf-listed-files p {
  font-size: 0.85em;
  margin: 4px 0; /* Adjust margin for each item */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Additional styling as needed */

.confirm-buttons {
  width: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.confirm-buttons button {
  width: 45%; /* slightly smaller width for buttons */
  padding: 15px 20px; /* more padding for a bigger button */
  margin: 0 15px; /* space between buttons */
  background-color: #007bff;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px; /* rounded corners */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.confirm-buttons button:nth-child(1) {
  background-color: #dc3545;
}

.confirm-buttons button:nth-child(1):hover {
  background-color: #931622;
}

.confirm-buttons button:hover {
  transform: scale(1.05); /* subtle grow effect on hover */
}

.confirm-details p {
  line-height: 1em;
  margin: 0;
  margin-top: 5px;
}

.confirm-details .value {
  font-weight: bold;
  font-size: 0.95em;
}

.value {
  color: #495057; /* darker color for better readability */
  font-weight: bold;
}

/* Footer */
.footer-div {
  margin-top: 20px;
  width: 100vw; /* Full width */

  padding: 20px 0; /* Padding for top and bottom */
}

.footer-content {
  text-align: center; /* Center everything in the footer */
  max-width: 1200px; /* Max width of the content */
  margin: 0 auto; /* Center the content */
  display: flex;
  flex-direction: column;
}

.footer-logo {
  max-width: 40px; /* Smaller logo */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure it's a block element */
  margin: 0 auto; /* Center the logo */
}

.footer-text {
  margin-top: 10px; /* Space between logo and text */
  font-size: 0.7em;
}

.center-container-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loading-container-app {
  text-align: center; /* Center the text below the image */
}

.loading-container-app img {
  display: block; /* To enable margin auto */
  margin: 0 auto; /* Center the image horizontally */
}

.loading-container-app p {
  margin-top: 20px; /* Space between the image and the text */
}
